---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Welcome to Northwestern Creative Writing Club!</h2>
									</header>
									<div class="image123">
    <div>
			<a href="Signup.html" class="button alt">Sign Up</a>
    </div><br>

</div>

								</section>
							</div>

						</div>

				</div>
			</div>

			<div class="wrapper style2">
				<section class="container">
					<header class="major">

						<span class="byline"><i>Do you like to write?<br>  Do you like to be creative but find it challenging sometimes to put yourself on the page?<br>  Do you enjoy receiving challenging prompts that spur your creativity? <br><br>
							<font color="green"><b>The Northwestern Creative Writing Club</b></font> is a creative prompt group catering to Northwestern graduate students and designed to get you on the page and start the creative juices flowing. <br>
							Each meeting one member will act as the <font color="purple"><b>Prompt Master</b>, offering a writing prompt like a picture, a first line, an object, or even a single word</font></i>. <br><br>
							</span>

					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="#" class="magic-button" title="A story begins at a prompt"><img src="{{ '/assets/images/prompt1.jpg' | prepend: site.baseurl }}" alt="" height="232" width="290" hspace="15" vspace="20"></a>

						</section>
						<section class="4u">
								<a href="#" class="magic-button" title="Let your creative juices flow"><img src="{{ '/assets/images/prompt0.jpg' | prepend: site.baseurl }}" alt="" height="232" width="290" hspace="15" vspace="20"></a>

						</section>
						<section class="4u">
							<a href="#" class="magic-button" title="Warm and Friendly Environment"><img src="{{ '/assets/images/prompt2.jpg' | prepend: site.baseurl }}" alt="" height="232" width="290" hspace="15" vspace="20"></a>

						</section>

					</div>

				</section>
			</div>

	{{ content }}
